
<!-- <h1>{{title()}}</h1>
<div class="container">
  <h1>Tic Tac Toe</h1>

  <div class="board">
    <div 
      class="cell" 
      *ngFor="let cell of board; let i = index"
      (click)="makeMove(i)">
      {{ cell }}
    </div>
  </div>

  <h2 *ngIf="winner && winner !== 'Draw'">
    Winner: {{ winner }}
  </h2>

  <h2 *ngIf="winner === 'Draw'">
    It's a Draw!
  </h2>

  <button (click)="resetGame()">Restart</button>
</div> -->
<app-login></app-login>
<app-signin></app-signin>
<app-events></app-events>

<h1>{{count}}</h1>
<button (click)="handleClick()">submit</button>

<app-functions></app-functions>